@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --very-dark-blue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --very-light-gray: hsl(0, 0%, 98%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    background-color: var(--very-light-gray);
    color: var(--very-dark-blue);
}
.container {
    margin: 90px 30px;
}

/* -----------Header----------- */
header {
    text-align: center;
}

header h1 {
    font-size: 1.6rem;
    font-weight: 200;
    animation: leftright 1000ms ease-in-out;
}
header h2 {
    font-weight: 600;
    font-size: 1.6rem;
    animation: rightleft 1000ms ease-in-out;
}
header p {
    color: var(--grayish-blue);
    line-height: 1.6;
    font-size: 0.9rem;
    margin-bottom: 70px;
    animation: updown 1000ms ease-in-out;
}

/* -----------Cards----------- */

.cards-container {
    max-width: 500px;
    margin: 0 auto;
}
.cards {
    border-radius: 5px;
    background-color: var(--very-light-gray);
    box-shadow: 0 5px 10px var(--grayish-blue);
    margin-bottom: 30px;
    min-width: 310px;
    max-width: 500px;
    height: 210px;
    overflow: hidden;
    animation: downup 1000ms ease-in-out;
}
.card-1 .line {
    background-color: var(--cyan);
    height: 4px;
}
.card-2 .line {
    background-color: var(--red);
    height: 4px;
}
.card-3 .line {
    background-color: var(--orange);
    height: 4px;
}
.card-4 .line {
    background-color: var(--blue);
    height: 4px;
}
.content {
    padding: 30px;
}
.content h3 {
    font-size: 1.1rem;
    font-weight: 600;
}
.content p {
    color: var(--grayish-blue);
    line-height: 1.6;
    font-size: 0.9rem;
    margin-bottom: 20px;
}
.image {
    float: right;
}

/* -----------Media Queries----------- */

@media only screen and (min-width: 600px) {
    header {
        max-width: 500px;
        margin: 0 auto;
    }
    header h1 {
        font-size: 2rem;
    }
    header h2 {
        font-size: 2rem;
    }
}

@media only screen and (min-width: 780px) {
    .cards-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
        max-width: 900px;
    }
    .two-cards {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
    }
}

@media only screen and (min-width: 1175px) {
    .cards-container {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 1000px;
        margin: 0 auto;
        padding: 30px;
        
    }
}

/* -----------Animations----------- */

@keyframes leftright {
    0% {
        transform: translateX(-500px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes rightleft {
    0% {
        transform: translateX(500px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes updown {
    0% {
        transform: translateY(500px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes downup {
    0% {
        transform: translateY(-500px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
